<!Doctype html>
<html>

<head>
  <title>Services</title>
  <link rel="stylesheet" href="static/Services.css">
  <link rel="icon" href="static/resources/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="background-Services">
    <nav>
      <ul>
        <li id='amlwnservices'>
          <a href="Home.html">
            <img src="static/resources/amlwn.png" height="45%" width="55%" alt="axlelogo">
          </a>
        </li>
        <li id="homeservices">
          <a href="Home.html">Home</a>
        </li>
        <li id='projectsservices'>
          <a href="Projects.html">Projects</a>
        </li>
        <li id='services'>
          <a href="Services.html">Services</a>
        </li>
        <li id='toolsservices'>
          <a href="Tools.html">Tools</a>
        </li>
        <li id='aboutusservices'>
          <a href="Aboutus.html">About Us</a>
        </li>
        {% if 'user_id' in session %}
        <li id="signinservices">
            <a href="/signout">Sign Out</a>
        </li>
        {% else %}
        <li id="signinservices">
            <a href="Login.html" class="ghost">Sign In</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <div class="icons">
      <ul>
        <li>
          <a href="https://www.instagram.com/axle_machines/" target="_blank">
            <img src="static/resources/igt.png" alt="IGT" />
          </a>
        </li>
        <br />
        <li>
          <a href="https://www.twitter.com/axlemachines/" target="_blank">
            <img src="static/resources/tgt.png" alt="TGT" />
          </a>
        </li>
        <br />
        <li>
          <a href="https://www.facebook.com/search/top?q=axle%20machines" target="_blank">
            <img src="static/resources/fgt.png" alt="FGT" />
          </a>
        </li>
      </ul>
    </div>
    <div id="message">We will start providing services soon. Follow us on SOCIAL MEDIA for more updates.</div>
      <footer>
        <div class="copyright">
          <p>&copy; 2023 Axle Machines. All Rights Reserved.</p>
        </div>
      </footer>
  </div>
</body>

</html>